@page "/overview"
@using PersonalFinanceApp.Pages.Savings
<h3>Overview</h3>

<SavingPotCard Pot="@Pot"></SavingPotCard>
@code {
    private Pot Pot { get; set; } = new Pot()
        {
            Id = "1",
            Name = "Savings",
            Target = 2000,
            Total = 459,
            Theme = "#277C78"
        };

}
