@inherits LayoutComponentBase
@inject IJSRuntime Js

<div class="antialiased bg-gray-50 dark:bg-gray-900 flex flex-col md:flex-row">
    <SideBar></SideBar>
    <div class="w-full">
        <TopNav></TopNav>
        <main class="p-4  h-auto pt-20">
            @Body
        </main>
    </div>


</div>

@code {
    protected override async Task OnAfterRenderAsync(bool isFirstRender)
    {
        if (isFirstRender)
        {
            await Js.InvokeVoidAsync("window.initializeFlowbite");
        }
    }
}