@using PersonalFinanceApp.Components

<aside class="fixed top-0 left-0 md:relative z-40 min-w-64 h-screen  transition-transform  -translate-x-full bg-gray-900 border-r border-gray-200 md:translate-x-0 dark:bg-gray-800 dark:border-gray-700" aria-label="Sidenav" id="drawer-navigation">
    <div class="px-500 py-400">
        <h1 class="text-32 font-bold text-white ">Finance</h1>
    </div>
    <div class="overflow-y-auto py-5 px-3 h-full  dark:bg-gray-800 ">
        <ul class="space-y-2">
            <li>
                <a href="Overview" class="nav-item group">
                    <div class="group-hover:text-green">
                        <IconComponent Icon="Icons.Home"></IconComponent>
                    </div>
                    <span class="ml-3 ">Overview</span>
                </a>
            </li>
            <li>
                <a href="Transactions" class="nav-item group">
                    <div class="group-hover:text-green">
                        <IconComponent Icon="Icons.UpAndDownArrow"></IconComponent>
                    </div>
                    <span class="ml-3">Transactions</span>
                </a>
            </li>
            <li>
                <a href="Savings" class="nav-item group">
                    <div class="group-hover:text-green">
                        <IconComponent Icon="Icons.PiggyBank"></IconComponent>

                    </div>
                    <span class="ml-3">Savings</span>
                </a>
            </li>
            <li>
                <a href="Budget" class="nav-item group">
                    <div class="group-hover:text-green">
                        <IconComponent Icon="Icons.PieChart"></IconComponent>

                    </div>
                    <span class="ml-3">Budget</span>
                </a>
            </li>
            <li>
                <a href="Bills" class="nav-item group">
                    <IconComponent Icon="Icons.Bill"></IconComponent>
                    <span class="ml-3">Bills</span>
                </a>
            </li>

        </ul>
    </div>
    <div class="hidden absolute bottom-0 left-0  justify-center p-4 space-x-4 w-full lg:flex  z-20">
        <IconComponent Icon="Icons.BigArrowLeft" Class="text-gray-300 " Heigth="48" Width="48" />
    </div>
</aside>