@inject IBillsService billsService
@page "/bills"
<h3>Bills</h3>

@code {
    private IEnumerable<Bill> _bills = new List<Bill>();

    protected override async Task OnInitializedAsync()
    {
        _bills = await billsService.GetAsync();
    }

}
