@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import "./Layout.css";


@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Public Sans', sans-serif;
}

.text-preset-4-bold {
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0;
    font-weight: 700;
}

.text-preset-5 {
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0;
}


.btable {

    thead>tr>th {

        @apply text-left py-2 font-normal
    }

    thead>tr>th:last-child {
        @apply text-right
    }


    tbody>tr>td {
        @apply py-4
    }

    tbody>tr:last-child {
        @apply border-none
    }

}

@keyframes slideIn {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

.modal-content {
    animation: slideIn 0.3s ease-out;
}

.progress-bar {
    transition: width 0.5s ease-in-out;
}

